body {
	background-color: hsl(257, 40%, 49%);
	background-image: url("bg-desktop.svg");
	width: 60%;

}

/***********************************************************Class Stylesheet*****************************************************************/

.huddle {
	margin: 30px auto auto 30px;
}

.big-banner {
	margin: 60px auto auto 40px;
}
.heading{
	font-family: 'Poppins', sans-serif;
	color: white;
	position: relative;
	left: 810px;
	bottom: 500px;
}
.paragraph {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;

}
.myButton {
	box-shadow: -1px 6px 6px 1px white;
	background-color: white;
	border-radius:42px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color: hsl(257, 40%, 49%);
	font-family: 'Poppins', sans-serif;
	font-size:17px;
	padding:15px 42px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
.fb-logo {
	width: auto;
	height: 25px;
}
.twitter-logo {
	width: auto;
	height: 25px;
}
.insta-logo {
	width: auto;
	height: 25px;
}
.icons {
	position: absolute;
	right: 5px;
}